.buttonCell:hover {
    color:red;
    cursor: pointer;
}
.addButtonCell:hover {
    color:green;
    cursor: pointer;
}
#gitIcon {
    display: inline-block;
    font-size:30px;
    margin-left:7px;
    cursor: pointer;
}
#gitIcon:hover {
    color:#556EED;
}
#itemForm{
    margin-top:16px;
}

.attention{
    margin: 30px 50px 0px 50px;
    padding: 25px;
    background-color:#EFF1FF;
    border-radius:18px;
}

.jsonContainer{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    border-left: 15px solid #2F3842;
    height:300px;
    height:300px;
    overflow-y: scroll;
    background-color:#000000;
    border-radius: 8px;
    padding:13px;
    border: 1px solid rgb(204, 204, 204);
  }