/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*IBM Custom Fonts */
@font-face {
    font-family: PlexRegular;
    src: url('assets/IBMFONTS/IBMPlexSans-Regular.woff') format('woff'), url('assets/IBMFONTS/IBMPlexSans-Regular.ttf') format('ttf'), url('assets/IBMFONTS/IBMPlexSans-Regular.otf') format('otf');
}
@font-face {
    font-family: PlexLight;
    src: url('assets/IBMFONTS/IBMPlexSans-Light.woff') format('woff'), url('assets/IBMFONTS/IBMPlexSans-Light.ttf') format('ttf'), url('assets/IBMFONTS/IBMPlexSans-Light.otf') format('otf');
}
@font-face {
    font-family: PlexItalic;
    src: url('assets/IBMFONTS/IBMPlexSans-MediumItalic.woff') format('woff'), url('assets/IBMFONTS/IBMPlexSans-MediumItalic.ttf') format('ttf'), url('assets/IBMFONTS/IBMPlexSans-MediumItalic.otf') format('otf');
}

body {
    font-family: PlexRegular, sans-serif !important;
}

.good {
    background-color:#60B515;
    color: white;
    margin: 0 .1em;
    padding: 0.3em .3em !important;
    border-radius: 4px
}

.bad {
    background-color:red;
    color: white;
    margin: 0 .1em;
    padding: 0.3em .3em !important;
    border-radius: 4px
}
.happy {
    background-color:#fce116;
    color: black;
    margin: 0 .1em;
    padding: 0.3em .3em !important;
    border-radius: 4px
}
.sad {
    background-color:#556eed;
    color: white;
    margin: 0 .1em;
    padding: 0.3em .3em !important;
    border-radius: 4px
}

.rainbow { 
    margin: 0 .1em;
    padding: 0.3em .3em !important;
    border-radius: 4px;
    color: black;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
  
  -webkit-animation: rainbowAnimation 18s ease infinite;
  -z-animation: rainbowAnimation 18s ease infinite;
  -o-animation: rainbowAnimation 18s ease infinite;
    animation: rainbowAnimation 18s ease infinite;}
  
  @-webkit-keyframes rainbowAnimation {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbowAnimation {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbowAnimation {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbowAnimation { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

  .customPrint {
      background-color:transparent;
      border: none;
      margin: 0px;
      padding: 5px 0px 0px 30px;
      color:white;
  }

  .customPrintContainer {
      background-color: #000;
      border-radius: 8px;
      margin: 7px 0px 0px;
      padding: 13px;
      color:white;
      font-family: Menlo,Monaco,Consolas,"Courier New",monospace
  }

  .fancy {
    font-family: Luminari, fantasy;
    color:green;
  }

  .codePill {
      float:right;
      padding:6px;
      background-color:#E3E6EA;
      border-radius:10px;
      transition: 0.5s all;
      cursor: pointer;
  }
  .codePill:hover {
    background-color: #A5A7AA;
  }
  
  .custom {
      background-color:#000000;
  }

  .matrix {
      color:#02F453;
      font-family: Lucida Console, Courier, monospace;
      caret-color: white
  }

  .matrixFocus {
    border: 2px solid #02F453 !important;
  }